// ====================================
// VARIABLES ==========================
// ====================================
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$dark-grey: #141414;
$medium-grey: #555;
$light-grey: #F8F8F8;
$shadow: #9f9f9f;
$primary: #ffc642;
$accent: #7286c3;
$link: #9c82b1;
$link-medium: #7e6b8e;
$link-dark: #574962;
$add: #43b531;
$add-medium: #3a982b;
$add-dark: #26611d;
$delete: #f44747;
$anchor: #5f849a;
$anchor-medium: #4a6575;
$anchor-dark: #2c3b44;


html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open sans', sans-serif;
}

// ====================================
// NAVBAR & FOOTER ====================
// ====================================

.bar {
  box-sizing: border-box;
  background: $dark-grey;
  color: $medium-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  padding: 10px;
  // position: fixed;
  left: 0;
  bottom: 0;
  height: 7em;
  width: 100%;
}

.icon-container {
  // position: fixed;
  // left: 0;
  // bottom: 0;
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  color: $dark-grey;
}

.fam-icon {
  box-sizing: border-box;
  // border: 1px solid pink;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 5em;
    max-height: 5em;
  }
}

@media screen and (max-width:725px) {
  .fam-icon {
    display: none;
  }
}

// ====================================
// GENERAL ============================
// ====================================

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  // height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}


// Button styling
.gen-button {
  padding: 10px;
  margin: 10px;
  color: $light-grey;
  text-decoration: none;
  box-shadow: 2px 2px 5px $shadow;
  transition: 0.3s;
  border-radius: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    // background-color: transparent;
    transition: 0.3s;
  }

  &:active {
    transform: translateY(5px);
    box-shadow: 1px 1px 1px $shadow;
  }
}

.add-new {
  border-bottom: 2px solid $add-dark;
  background: $add;
  &:hover {
    background: $add-medium;
  }
  &:active {
    border-bottom: 1px solid $add-dark;
  }
}

.back-button {
  border-bottom: 2px solid $anchor-dark;
  background-color: $anchor;
  &:hover {
    background: $anchor-medium;
  }
  &:active {
    border-bottom: 1px solid $anchor-dark;
  }
}

.link {
  border-bottom: 2px solid $link-dark;
  background: $link;
  width: 150px;
  &:hover {
    background: $link-medium;
  }
  &:active {
    border-bottom: 1px solid $link-dark;
  }
}


// ====================================
// YEARS HOMEPAGE =====================
// ====================================

.years-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 25vw;
  margin: 30px 20px;
  text-align: center;

  img {
    width: 100%;
    box-shadow: 4px 4px 10px $shadow;
  }
}