// ====================================
// VARIABLES ==========================
// ====================================
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$dark-grey: #141414;
$medium-grey: #555;
$light-grey: #F8F8F8;
$shadow: #9f9f9f;
$primary: #ffc642;
$accent: #8576b8;
$link: #5085ed;
$link-medium: #4877d6;
$link-dark: #355aa3;
$add: #43b531;
$add-medium: #3a982b;
$add-dark: #26611d;
$delete: #EC494E;
$edit: #ff9914;
$anchor: #5AB3E0;
$anchor-medium: #519ec5;
$anchor-dark: #4183a5;
$bg-blue: #47526B;


html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat','Open sans', sans-serif;
}

// ====================================
// NAVBAR & FOOTER ====================
// ====================================

// Header
.bar {
  box-sizing: border-box;
  // background: $dark-grey;
  background: $bg-blue;
  color: $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: 7em;
  width: 100%;
  box-shadow: 0px 3px 5px $shadow;
  position: relative;

  a {
    padding-left: 3em;
    font-size: 2em;
    color: $light-grey;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

// Footer
.icon-container, {
  // position: fixed;
  // left: 0;
  // bottom: 0;
  margin: 0 auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px 1px 5px #888;

  color: $dark-grey;
}

.mobile-header {
  display: none;
}

.header-separation {
  display: flex;
}

.fam-icon {
  box-sizing: border-box;
  // border: 1px solid pink;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  img {
    max-width: 5em;
    max-height: 5em;
  }
}

@media screen and (max-width:725px) {
  .fam-icon {
    display: none;
  }
  .mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $primary;
    box-shadow: 0px 1px 5px #888888;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0 0 0 1em;
    }

    li {
      padding: 0 1em 0 0;
      font-size: 2vw;
    }
  }
}

// ====================================
// GENERAL ============================
// ====================================

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f5f5f5;

  width: 100%;
  min-height: calc(100vh - 15em);
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}


// Button styling
.gen-button {
  padding: 10px;
  margin: 10px;
  color: $light-grey;
  text-decoration: none;
  box-shadow: 2px 2px 5px $shadow;
  transition: 0.3s;
  border-radius: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-size: 1em;
  outline: none;

  &:hover {
    // background-color: transparent;
    transition: 0.3s;
  }

  &:active {
    transform: translateY(5px);
    box-shadow: 1px 1px 1px $shadow;
  }
}

.add-new {
  border-bottom: 2px solid $add-dark;
  background: $add;
  &:hover {
    background: $add-medium;
  }
  &:active {
    border-bottom: 1px solid $add-dark;
  }
}

.back-button {
  border-bottom: 2px solid $anchor-dark;
  background-color: $anchor;
  &:hover {
    background: $anchor-medium;
  }
  &:active {
    border-bottom: 1px solid $anchor-dark;
  }
}

.delete-button {
  border-bottom: 2px solid darken($delete, 25%);
  background-color: $delete;
  &:hover {
    background: darken($delete, 10%);
  }
  &:active {
    border-bottom: 1px solid darken($delete, 25%);
  }

}
.edit-button {
  border-bottom: 2px solid darken($edit, 25%);
  background-color: $edit;
  &:hover {
    background: darken($edit, 10%);
  }
  &:active {
    border-bottom: 1px solid darken($edit, 25%);
  }
}

.link {
  border-bottom: 2px solid $link-dark;
  background: $link;
  width: 150px;
  &:hover {
    background: $link-medium;
  }
  &:active {
    border-bottom: 1px solid $link-dark;
  }
}

h2 {
  font-weight: 100;
  font-size: 2em;
  margin: 0;
}

.user-action {
  display: flex;
  margin-bottom: 1em;
}


// ====================================
// YEARS HOMEPAGE =====================
// ====================================

.years-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 25vw;
  margin: 30px 20px;
  text-align: center;

  img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 4px 4px 10px $shadow;
  }
}

// ====================================
// NEWSLETTER PAGE ====================
// ====================================

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.year-title {
  font-weight: 400;
  font-size: 4em;
  margin: 0;
}

// ====================================
// DASHBOARD ==========================
// ====================================

.content-wrapper {
  display: flex;
}

.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em 0 0 0;
  position: relative;
  background: transparent;
  border-right: 1px solid $medium-grey;

  ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  li {
    margin: 0;
  }
}

.year-link {
  display: flex;
  font-size: 1.5em;
  padding: 0.5em 1.5em;
  color: $medium-grey;
  text-decoration: none;

  &:hover {
    color: $delete;
  }
}

// ====================================
// SIGNUP =============================
// ====================================

.signup {
  padding: 100px;
}