<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Duong's 11 Newsletter</title>
      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="icon-container">
      <div class="fam-icon">
          <img src="https://s19.postimg.org/iwvutctoz/mindy.png" alt="Icon image">
          <p>Mindy</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/9cc86ez77/dom.png" alt="Icon image">
          <p>Dominique</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/jmen5qhdv/peter.png" alt="Icon image">
          <p>Peter</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/5fywailyb/snickers.png" alt="Icon image">
          <p>Snickers</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/d8pk2ecgz/coney.png" alt="Icon image">
          <p>Coney</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/kooto6kqr/cill.png" alt="Icon image">
          <p>Priscilla</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/4doprx5oz/jordan.png" alt="Icon image">
          <p>Jordan</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/rf5axn2rn/evan.png" alt="Icon image">
          <p>Evan</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/lpp2dw1wj/brian.png" alt="Icon image">
          <p>Brian</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/shfhg83lf/kevin.png" alt="Icon image">
          <p>Kevin</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/iwvutebpf/tina.png" alt="Icon image">
          <p>Christina</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/4cerz1eb7/andrew.png" alt="Icon image">
          <p>Andrew</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/s4o3a0y6b/jon.png" alt="Icon image">
          <p>Jonathan</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/u98gb3kdf/jana.png" alt="Icon image">
          <p>Jana</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/wdstc7war/kyle.png" alt="Icon image">
          <p>Kyle</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/fd9x3igoj/jeff.png" alt="Icon image">
          <p>Jeffrey</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/tjpnyqc43/felicia.png" alt="Icon image">
          <p>Felicia</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/vbimtm0lv/dan.png" alt="Icon image">
          <p>Daniel</p>
        </div>
        <div class="fam-icon">
          <img src="https://s19.postimg.org/3o5xfkcv7/justin.png" alt="Icon image">
          <p>Justin</p>
        </div>
      </div>
  