@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open sans', sans-serif; }

.bar {
  box-sizing: border-box;
  background: #141414;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 7em;
  width: 100%; }

.icon-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #141414; }

.fam-icon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .fam-icon img {
    max-width: 5em;
    max-height: 5em; }

@media screen and (max-width: 725px) {
  .fam-icon {
    display: none; } }

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.row {
  display: flex;
  flex-direction: row; }

.col {
  display: flex;
  flex-direction: column; }

.gen-button {
  padding: 10px;
  margin: 10px;
  color: #F8F8F8;
  text-decoration: none;
  box-shadow: 2px 2px 5px #9f9f9f;
  transition: 0.3s;
  border-radius: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-size: 1em; }
  .gen-button:hover {
    transition: 0.3s; }
  .gen-button:active {
    transform: translateY(5px);
    box-shadow: 1px 1px 1px #9f9f9f; }

.add-new {
  border-bottom: 2px solid #26611d;
  background: #43b531; }
  .add-new:hover {
    background: #3a982b; }
  .add-new:active {
    border-bottom: 1px solid #26611d; }

.back-button {
  border-bottom: 2px solid #2c3b44;
  background-color: #5f849a; }
  .back-button:hover {
    background: #4a6575; }
  .back-button:active {
    border-bottom: 1px solid #2c3b44; }

.link {
  border-bottom: 2px solid #574962;
  background: #9c82b1;
  width: 150px; }
  .link:hover {
    background: #7e6b8e; }
  .link:active {
    border-bottom: 1px solid #574962; }

.years-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 25vw;
  margin: 30px 20px;
  text-align: center; }
  .show-card img {
    width: 100%;
    box-shadow: 4px 4px 10px #9f9f9f; }
