<% include ../partials/header %>

<div class="container">
  <div class="row">
    <a class="gen-button add-new" href="/years/<%= year._id %>/newsletters/new">Add new newsletter</a>
    <a class="gen-button back-button" href="/years">Go Back</a>
  </div>
  
  <h1>Find Newsletter by Entry</h1>
  <% newsletters.forEach((month) => { %>
    <div class="show-card">
      <img src="<%= month.image %>">
      <a class="gen-button link" href="<%= month.pdf %>"><%= month.name %></a>
    </div>
  <% }); %>
</div>

<% include ../partials/footer %>