<% include ../partials/authheader %>

<div class="container">
  <h1 style="text-align: center;">Add a newsletter submission to <%= year.name %></h1>
  <div style="width: 50%; margin: 25px auto;">
    <form action="/years/<%= year._id %>/newsletters" method="POST">
      <input type="text" placeholder="name" name="submission[name]">
      <input type="text" placeholder="img url" name="submission[image]">
      <input type="text" placeholder="pdf url" name="submission[pdf]">
      <button class="gen-button add-new">Submit!</button>
    </form>
    <a class="gen-button back-button" href="/years/<%= year._id %>">Go Back</a>
  </div>
</div>

<% include ../partials/footer %>