<% include ../partials/header %>

<div class="container">
  <a class="add-new" href="/years/new">Add new year</a>
  <div class="years-container">
    <% years.forEach((year) => { %>
      <div class="show-card">
        <img src="<%= year.image %>">
        <a href="/years/<%= year._id %>"><%= year.name %></a>
      </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>